.container {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.45;
}

.part {
    font-size: inherit;
}

.highlight {
    font-size: inherit;
    font-weight: 800;
}
